body {
  background: white;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #020202;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #020202;
  line-height: 28px;
}


.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
nav {
  position: fixed;
  background: #0A7FA8;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  display: none;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 16px;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  margin-left: 40px;
}



/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  background: url("https://cdn.theatlantic.com/thumbor/knYhEgQ4UNi5LuniKRHN1YFRraQ=/79x44:1843x1036/720x405/media/img/mt/2017/04/your_name-1/original.jpg") repeat scroll center center/cover;
  height: 100vh;
  width: 100%;
}

#hero .hero-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-content p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #FFFFFF;
  font-weight: 500;
}


/*--------------------------------------------------------------
# Hobbies
--------------------------------------------------------------*/
.hobbies-block .hobbies-info img {
  max-width: 100%;
}

.hobbies-block .hobbies-info .hobbies-txt {
  padding: 25px 0px;
  position: relative;
}

/*--------------------------------------------------------------
# Aboutme
--------------------------------------------------------------*/
.Aboutme .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}
.Aboutme .owl-dot.active {
  background-color: #149ddd !important;
}
@media (max-width: 767px) {
  .Aboutme {
    margin: 30px 10px;
  }
}
